.our-services {
  padding: 20px;
  min-height: 500px;
}

.our-services__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

@media (min-width: 768px) {
  .our-services {
    padding: 50px;
  }
}
