.tru-story {
  position: relative;
  padding: 20px;
  max-width: 1600px;
  margin: 0 auto;
}

.tru-story__main-img {
  margin: auto;
}

.tru-story__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

.tru-story__list {
  @include list;
}

.tru-story__item-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;

  span {
    color: #FF4949;
  }
}

.tru-story__img-list {
  @include list;

  img {
    margin: auto;
  }
}

.tru-story__next {
  display: none;
}

@media (min-width: 768px) {
  .tru-story__item {
    display: flex;
  }

  .tru-story__img-list {
    display: none;
  }

  .tru-story__main-img {
    max-width: 45%;
    margin: 0;
  }

  .tru-story__info {
    padding: 0 20px;
  }

  .tru-story__item-title {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .tru-story {
    padding: 50px;
  }

  .tru-story__img-list {
    display: flex;
    margin-top: auto;
    width: 100%;

    li:not(:last-child) {
      margin-right: 20px;
    }
  }

  .tru-story__info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    max-width: 610px;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -50px;
      left: -60px;
      width: 119px;
      height: 163px;
      background-image: url("../img/tru-story-back.png");
    }
  }

  .tru-story__next {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    display: inline-block;
    background-color: transparent;
    border: none;
    background-image: url("../img/next.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

@media (min-width: 1200px) {
  .tru-story__next {
    right: 40px;
    margin-top: -60px;
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 1440px) {
  .tru-story__next {
    right: 80px;
  }
}
